*.gem
*.rbc
*.exe
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
data/backup
data/temporary
data/test_area
data/db_out_area
export/template
export/migrate_config
export/testdata
export/wordinfo
version
QY


# YARD artifacts
.yardoc
_yardoc
doc/
