*.gem
*.rbc
*.exe
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
data/backup
data/version
data/temporary
data/db_out_area
export/template
export/migrate_config
export/testdata
QY


# YARD artifacts
.yardoc
_yardoc
doc/
